@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* background: #F5F5F7; */
  width: 100%;
}
.App span {
  margin-top: 4%;
}
.App h2 Z{
  margin-top: 5%;
}

input {
  padding: 12px;
  margin: 12px;
  font-size: 16px;
  font-weight: 300;
  border: 1px solid gb(235, 235, 235)r;
  /* box-shadow: 0 1px 4px #ccc; */
  border-radius: 6px;
  width: 93%;
  color: rgb(255, 201, 77);
}

/* button {
  background-color: teal;
  border: none;
  color: white;
  padding: 12px;
  margin: 12px 0;
  box-shadow: 0 1px 6px #ccc;
  width: 100%;
  border-radius: 6px;
  font-size: 18px;
} */
.container {
  box-shadow: 0 1px 6px #ccc;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  padding: 22px;
  margin: 7% auto auto auto;
}

.container > p {
  cursor: pointer;
  margin: 12px;
  font-weight: 300;
}

.form {
  width: 100%;
}

.form > h2 {
  text-align: center;
  margin: 15px 0;
}

.form > form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.form > form > p {
  cursor: pointer;
  font-weight: 300;
}
.error {
  position: absolute;
  width: 100%;
  color: tomato;
  padding: 6px 20px;
  font-weight: 400;
}
